[submodule "mongoose"]
	path = mongoose
	url = https://github.com/cesanta/mongoose
[submodule "fannst-templating-engine"]
	path = fannst-templating-engine
	url = https://github.com/skywa04885/fannst-templating-engine
